.htmlMain {
  Background: linear-gradient(to top right, #1b1b1b, #232323, #1b1b1b);
  Background: -webkit-linear-linear-gradient(to top right, #1b1b1b, #232323, #1b1b1b);
  Background: -moz-linear-linear-gradient(to top right, #1b1b1b, #232323, #1b1b1b);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: 'Archivo';
}

.bodyMain {
  background: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  position: relative;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
  word-break: break-word;
  color: #ffffff;
  font-family: 'Archivo';
}

.MidMain {
  width: 100%;
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  grid-gap: 50px;
  position: relative;
}

.customContainer {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
  padding: 0 10px 0 10px;
  position: relative;
}

.secMainInside {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 25px;
}

.boxInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.boxInside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 25px;
  padding: 0 25px;
}

.boxInsideRange {
  width: 100%;
  max-width: 500px;
}

.boxInsideCards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  flex-wrap: wrap;
  justify-content: start;
}

@media (max-width: 1700px) {
  .boxInsideCards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .boxInsideCards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .boxInsideCards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .boxInsideCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}

.boxInsideCardsBox {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  width: 100%;
  flex-grow: 1;
  /*min-width: 256px;*/
  /*max-width: calc(100% / 6);*/
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.5;
  width: 100%;
}

@media (max-width: 576px) {
  .boxInsideCardsBox {
    min-width: 100%;
    font-size: 12px;
    line-height: 1;
  }
}

.boxInsideCardsBoxTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  border: solid 1px rgba(255,255,255,0.1);
  height: 100%;
}

.boxInsideCardsBoxMid {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: rgba(255,255,255,0);
  border-radius: 5px;
  border: solid 1px rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.5);
}

.boxInsideCardsBoxWrap {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.05);
  width: 100%;
  height: 100%;
}

.boxInsideCardsBox.boxInsideCardsBoxActive {
  outline: solid 2px #d942ff;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  transform: scale(1.02);
  opacity: 1;
}

.boxInsideNumbers {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  justify-content: space-between;
  margin-top: -15px;
}

.boxInsideNumbers > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.05);
  border-radius: 5px;
  width: 10px;
  max-width: 30px;
  color: rgba(255,255,255,0.35);
}

.boxInsideNumbers > :nth-child(-n + 5) {
  /*margin-left: -6px;*/
}

.boxInsideRangeStep {
  width: 100%;
  max-width: 500px;
}

.boxInsideNumbersSteps {
  align-items: center;
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  justify-content: space-between;
  margin-top: -15px;
}

.boxInsideNumbersSteps > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.05);
  border-radius: 5px;
  width: 10px;
  max-width: 30px;
  color: rgba(255,255,255,0.35);
}

.boxInsideCardsAlt {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  flex-wrap: wrap;
  justify-content: start;
}

@media (max-width: 1700px) {
  .boxInsideCardsAlt {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .boxInsideCardsAlt {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .boxInsideCardsAlt {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .boxInsideCardsAlt {
    grid-template-columns: 1fr 1fr;
  }
}

